<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /

RewriteCond %{HTTP_HOST} ^www\.gomez\.pl(.*) [NC]
RewriteRule ^(.*)$ http://gomez.pl/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^www\.devel\.gomez\.pl$
RewriteRule (.*)$ http://devel.gomez.pl/$1 [L,R=301]


# 301 Redirect all requests that don't contain a dot or trailing slash to
# include a trailing slash but ignore POST requests.
RewriteCond %{REQUEST_URI} !/$
RewriteCond %{REQUEST_URI} !\.
RewriteCond %{REQUEST_METHOD} !POST$
RewriteRule ^(.*) %{REQUEST_URI}/ [R=301,L]


RewriteRule ^(.*)/pl/$ $1 [R=301,L]


RewriteRule ^(.*)(/0/)$ $1 [R=301,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) process.php [nc]


ErrorDocument 404 404.shtml
ErrorDocument 500 500.shtml
ErrorDocument 400 400.shtml
ErrorDocument 403 403.shtml

</IfModule>

<IfModule mod_header.c>
# Disable ETags
Header unset ETag
FileEtag None
</IfModule>

<IfModule mod_deflate.c>
# Compress css, plaintext, xml, gif, and images in transport.
AddOutputFilterByType DEFLATE text/css text/plain text/xml image/gif image/jpeg image/png
</IfModule>
