.biggertext {
font-size:15px;
}

.message {border:#000 solid 1px;margin:50px auto;width:400px;background:#E65301;color:#fff;font-size:13px;text-align:center;padding:30px;font-weight:bold;}

.lista {width:99%;border-collapse:collapse;}
.lista td{border:1px #fff solid;padding:2px;}
.lista .rh{text-align:center;font-weight:bold;background:#000;color:#fff}
.lista .r0{background:#eee}
.lista .r1{background:#FFD39F}