<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Examples of Web Layouts - For more info visit: www.elasticss.com</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

		<link rel="stylesheet" type="text/css" media="all" href="css/common/reset.css" />
		<link rel="stylesheet" type="text/css" media="all" href="css/common/elastic.css" />
		<link rel="stylesheet" type="text/css" media="print" href="css/common/elastic.print.css" />
		<link rel="stylesheet" type="text/css" media="all" href="css/common/theme.css" />	
		<link rel="stylesheet" type="text/css" media="all" href="css/common/uniform.default.css" />	

		<script src="js/common/jquery-1.6.4.min.js" type="text/javascript" language="javascript" charset="utf-8"></script>
		<script src="js/common/elastic.js" type="text/javascript" language="javascript" charset="utf-8"></script>
		<script src="js/common/jquery.uniform.min.js" type="text/javascript" language="javascript" charset="utf-8"></script>

    <script type="text/javascript" charset="utf-8">
      $(function(){
        $("input, textarea, select, button").uniform();
      });
    </script>

	</head>
	<body>

		<div id="fb-root"></div>
		<script>(function(d, s, id) {
  		var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>


		<div id="top" class="unit">
			<div id="top-container" class="container wrapper">
				<div id="top-columns" class="columns same-height">
					<div id="top-left-column" class="column fixed full-height">
						<div id="top-left-column-container" class="container">
							<a href="http://www.gomez.pl" target="_self" title="www.gomez.pl">www.gomez.pl</a>
							<div id="fb-like-button" class="fb-like" data-href="http://www.facebook.com/profile.php?id=100000482816449" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" data-font="tahoma"></div><!-- fb-like-button -->
						</div><!-- top-left-column-container -->
					</div><!-- top-left-column -->
					<div id="top-right-column" class="column fixed full-height">
						<div id="top-right-column-container" class="container">
							<form method="post" class="jqTransform">
								<input type="text" value="login…"/>
								<input type="password" value="password…"/>
								<input type="button" value=">"/>				
							</form>
							<a href="#">Zapomniałem hasła</a>
							/
							<a href="#">Zarejestruj się</a>
							<a href="#pl" class="language-button">PL</a>
							<a href="#en" class="language-button">EN</a>
						</div><!-- top-right-column-container -->
					</div><!-- top-right-column -->					
				</div><!-- top-columns -->								
			</div><!-- top-container -->
		</div><!-- top -->


		<div id="header" class="unit">
			<div id="header-top-container" class="container wrapper">
				<div id="header-top-columns" class="columns on-2 same-height">
					<div id="header-left-column" class="column fixed full-height">
						<div id="header-left-column-container" class="container full-height">
							<div id="logotype">
								<img src="images/spacer.gif" width="184" height="69" alt="Gomez Logo"/>
							</div><!-- logotype -->
						</div><!-- header-left-column-container -->
					</div>
					<div id="header-right-column" class="column elastic full-height">
						<div id="header-right-column-container" class="container full-height">
							<div id="header-breadcrumb">
								<a href="#">kontakt</a> / <a href="#">regulamin</a> /  polityka prywatności							
							</div><!-- header-breadcrumb -->
							<div id="cart-box">
								<div id="cart-content" class="gray-bordered">
									<span id="cart-header">Zawartość koszyka</span><br />
									2 produkty za 435,89 zł / <a href="#">Pokaż koszyk</a>
								</div>
							</div><!-- cart-box -->
						</div><!-- header-right-column-container -->
					</div><!-- header-right-column -->
				</div>
			</div>
			
			<div id="header-menu-container" class="container wrapper">
				<div id="header-menu-columns" class="columns same-height">
					<div id="menu-column" class="column fixed full-height">
						<div id="menu" class="container full-height">
							<ul>
								<li><a>Woman</a></li>
								<li><a>Men</a></li>
								<li><a>Brands</a></li>
								<li><a>Sale</a></li>
								<li><a>Fashion Store</a></li>
								<li><a>News & Events</a></li>
								<li><a>Gomez Club</a></li>
							</ul>
						</div><!-- menu -->
					</div><!-- menu-column -->
					<div id="recomend-column" class="column fixed full-height">
						<div id="recomend-form" class="container full-height">
							<form method="post" class="jqTransform">
								<input type="text" value="Poleć znajomemu…" />
							</form>
						</div><!-- recomend-form -->
					</div><!-- recomend-column -->
				</div><!-- header-menu-columns -->
			</div><!-- header-menu-container -->
		
		</div><!-- header -->


		<div id="body" class="unit">
			<div id="body-container" class="container wrapper">
				<div id="index-top-banner">
				
				</div><!-- top-banner -->
				<div id="index-brands">
				
				</div><!-- index-brands -->
				<div id="index-bottom-banners">
					<div class="index-small-banner"><img src="images/index/small_banner1.jpg" width="490" height="185" alt="small_banner" /></div>
					<div class="index-small-banner"><img src="images/index/small_banner2.jpg" width="490" height="185" alt="small_banner" /></div>
					<div class="index-small-banner"><img src="images/index/small_banner3.jpg" width="490" height="185" alt="small_banner" /></div>
					<div class="index-small-banner"><img src="images/index/small_banner4.jpg" width="490" height="185" alt="small_banner" /></div>
					<div class="clear"></div>
				</div><!-- index-bottom-banners -->
			</div><!-- body-container -->
		</div><!-- body -->


		<div id="footer" class=""unit>
			<div id="footer-buttons-container" class="container wrapper">
			</div>
		
			<div id="footer-container" class="container wrapper">
				<div id="footer-columns" class="columns on-5 same-height">
					<div class="column full-height">
						<div class="container full-height footer-link-container">
							<div class="footer-header">Strefa Klienta</div>
							<ul>
								<li><a>Regulamin</a></li>
								<li><a>Formy płatności</a></li>
								<li><a>Koszty i czas dostawy</a></li>
								<li><a>Zwroty & Wymiany</a></li>
								<li><a>Gwarancje / Reklamacje</a></li>
								<li><a>FAQ</a></li>
							</ul>
						</div>
					</div>
					<div class="column full-height">
						<div class="container full-height footer-link-container">
							<div class="footer-header">Kategorie</div>
							<ul>
								<li><a>Woman</a></li>
								<li><a>Man</a></li>
								<li><a>Sale</a></li>
								<li><a>Fashion Store</a></li>
								<li><a>News & Events</a></li>
								<li><a>Gomez Club</a></li>
							</ul>
						</div>
					</div>
					<div class="column full-height">
						<div class="container full-height footer-link-container">
							<div class="footer-header">Brands</div>
							<ul>
								<li><a>Tommy Hilfiger</a></li>
								<li><a>GUESS</a></li>
								<li><a>CALVIN KLEIN</a></li>
								<li><a>LACOSTE</a></li>
								<li><a>TIMBERLAND</a></li>
								<li><a>więcej…</a></li>								
							</ul>
						</div>
					</div>
					<div class="column full-height">
						<div class="container full-height footer-link-container">
							<div class="footer-header">Gomez</div>
							<ul>
								<li><a>O nas</a></li>
								<li><a>Nasze salony</a></li>
								<li><a>Aktualności</a></li>
								<li><a>Praca</a></li>
								<li><a>Facebook</a></li>
								<li><a>Kontakt</a></li>
							</ul>
						</div>
					</div>
					<div class="column full-height">
						<div class="container full-height footer-link-container">
							<div class="footer-header">Partnerzy</div>
							<ul>
								<li><a>Allegro</a></li>
								<li><a>DHL</a></li>
								<li><a>Poczta Polska</a></li>
								<li><a>Płatnosci.pl</a></li>
								<li><a>VISA</a></li>
								<li><a>MASTERCARD</a></li>
							</ul>
						</div>
					</div>
				</div><!-- footer-columns -->
				
				<div id="copyright-columns" class="columns on-5 same-height">
					<div id="copyright-column" class="column span-2">
						<div id="copyright-container" class="container">
							Copyright © 2010-2011 GOMEZ.pl. Created by Fresh Studio
						</div>
					</div>
					<div id="footer-breadcrumb-column" class="column span-3">
						<div id="footer-breadcrumb-container" class="container">
							<a href="#">kontakt</a> / <a href="#">regulamin</a> /  polityka prywatności
						</div>
					</div>
				</div><!-- copyright-columns -->
				
			</div><!-- footer-container -->
		</div><!-- footer -->

	</body>
</html>
